<nav class="navbar">
    <div class="logo">My Website</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/create">Create</a></li>
    </ul>
</nav>